<div class="container text-center">
  <div class="btn-group">
    <%= link_to "All", questions_path, class: "btn btn-primary" %>
    <%= link_to "Multiple Choices", multiple_choices_path, class: "btn btn-primary" %>
    <%= link_to "Open Clozes", open_clozes_path, class: "btn btn-primary" %>
    <%= link_to "Word Formations", word_formations_path, class: "btn btn-primary" %>
    <%= link_to "Sentence Clozes", sentence_clozes_path, class: "btn btn-primary" %>
</div>