<div id="<%= dom_id question %>">
  <div>
    <strong>Kind:</strong>
    <%= "#{question.kind_before_type_cast.to_i + 1}" %>
  </div>

  <div>
    <strong>Main:</strong>
    <%= question.main %>
  </div>

  <div>
    <strong>Answer:</strong>
    <%= question.answer %>
  </div>

  <div>
    <strong>Attempted:</strong>
    <%= question.attempted %>
  </div>

  <div>
    <strong>Correct:</strong>
    <%= question.correct %>
  </div>

  <% if question.multiple_choice? %>
    <div>
      <strong>Option A:</strong>
      <%= question.a %>
    </div>

    <div>
      <strong>Option B:</strong>
      <%= question.b %>
    </div>

    <div>
      <strong>Option C:</strong>
      <%= question.c %>
    </div>

    <div>
      <strong>Option D:</strong>
      <%= question.d %>
    </div>
  <% end %>

  <% if question.word_formation? %>
    <div>
      <strong>Keyword:</strong>
      <%= question.keyword %>
    </div>
  <% end %>

  <% if question.sentence_cloze? %>
    <div>
      <strong>Prompt:</strong>
      <%= question.prompt %>
    </div>

    <div>
      <strong>Keyword:</strong>
      <%= question.keyword %>
    </div>
  <% end %>
</div>
