<div id="<%= dom_id question %>">
  <div>
    <strong>Main:</strong>
    <%= question.main %>
  </div>

  <div>
    <strong>Answer:</strong>
    <%= question.answer %>
  </div>

  <div>
    <strong>Attempted:</strong>
    <%= question.attempted %>
  </div>

  <div>
    <strong>Correct:</strong>
    <%= question.correct %>
  </div>

</div>
