<div id="<%= dom_id question %>">
  <%# Question Type %>
  <div>
    <strong>Kind:</strong>
    <%= "#{question.kind_before_type_cast.to_i + 1}" %>
  </div>

  <%# Main %>
  <div>
    <strong>Main:</strong>
    <%= question.main %>
  </div>

  <%# Answers (Displays multiple choices separated by commas, or just the one) %>
  <div>
    <strong>Accepted Answers:</strong>
    <%= question.answers.join(", ") %>
  </div>

  <%# Nuber of times attempted %>
  <div>
    <strong>Attempted:</strong>
    <%= question.attempted %>
  </div>

  <%# Number of correct answers %>
  <div>
    <strong>Correct:</strong>
    <%= question.correct %>
  </div>

  <%# Multiple Choice options %>
  <% if question.multiple_choice? %>
    <div>
      <strong>Options:</strong>
      <ul>
        <% question.options.each do |option| %>
          <li><%= option %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Word Formation Keyword %>
  <% if question.word_formation? %>
    <div>
      <strong>Keyword:</strong>
      <%= question.keyword %>
    </div>
  <% end %>

  <%# Sentence cloze prompt and keyword %>
  <% if question.sentence_cloze? %>
    <div>
      <strong>Prompt:</strong>
      <%= question.prompt %>
    </div>

    <div>
      <strong>Keyword:</strong>
      <%= question.keyword %>
    </div>
  <% end %>
</div>
