<div class="container">
    <%# Links %>
    <%= render "questions/links" %>


    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <%# Common Headings %>
                <%= render "questions/tables/common_table_headings" %>

                <%# Option A Heading %>
                <th scope="col">Option A</th>

                <%# Option B Heading %>
                <th scope="col">Option B</th>

                <%# Option C Heading %>
                <th scope="col">Option C</th>

                <%# Option D Heading %>
                <th scope="col">Option D</th>

                <%# Shared Headings %>
                <%= render "questions/tables/shared_table_headings" %>
            </tr>
        </thead>

        <tbody>
            <% @questions.each do |question| %>
                <tr>                   
                    <%# Common Bodies %>
                    <%= render partial: "questions/tables/common_table_bodies", object: question %>

                    <%# Option A %>
                    <td><%= question.a %></td>

                    <%# Option B %>
                    <td><%= question.b %></td>

                    <%# Option C %>
                    <td><%= question.c %></td>

                    <%# Option D %>
                    <td><%= question.d %></td>

                    <%# Shared Bodies %>
                    <%= render partial: "questions/tables/shared_table_bodies", object: question %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
