<div class="container">
  <% content_for :title, "New question" %>

  <%# Heading %>
  <h1>New question</h1>

  <div class="btn-group" id="form-btn-group">
      <%# Multiple Choice form button %>
      <%= link_to "Multiple Choice", nil, remote: true, class: "btn btn-primary",
        data: {
          controller: "questions",
          action: "questions#openForm",
          questions_form_param: "mc-form",
          questions_links_param: "form-btn-group"
        }  
      %>

      <%# Open Cloze form button %>
      <%= link_to "Open Cloze", nil, remote: true, class: "btn btn-primary",
        data: {
          controller: "questions",
          action: "questions#openForm",
          questions_form_param: "oc-form",
          questions_links_param: "form-btn-group"
        }  
      %>

      <%# Word Formation form button %>
      <%= link_to "Word Formation", nil, remote: true, class: "btn btn-primary",
        data: {
          controller: "questions",
          action: "questions#openForm",
          questions_form_param: "wf-form",
          questions_links_param: "form-btn-group"
        }  
      %>

      <%# Sentence Cloze form button %>
      <%= link_to "Sentence Cloze", nil, remote: true, class: "btn btn-primary",
        data: {
          controller: "questions",
          action: "questions#openForm",
          questions_form_param: "sc-form",
          questions_links_param: "form-btn-group"
        }  
      %>
    </div>

  <%# Multiple Choice Form %>
  <div id="mc-form" class="d-none" >
    <%= render "questions/forms/multiple_choice_form", question: @question %>
  </div>

  <%# Open Cloze Form %>
  <div id="oc-form" class="d-none" >
    <%= render "questions/forms/open_cloze_form", question: @question %>
  </div>

  <%# Word Formation Form %>
  <div id="wf-form" class="d-none" > 
    <%= render "questions/forms/word_formation_form", question: @question %>
  </div>

  <%# Sentence Cloze Form %>
  <div id="sc-form" class="d-none" > 
    <%= render "questions/forms/sentence_cloze_form", question: @question %>
  </div>
  <br>

  <%# Link back to all questions %>
  <div>
    <%= link_to "Back to questions", questions_path %>
  </div>
</div>
