<div class="container">
    <%# Links %>
    <%= render "questions/links" %>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <%# Common Headings %>
                <%= render "questions/tables/common_table_headings" %>

                <%# Keyword Heading %>
                <th scope="col">Keyword</th>

                <%# Prompt Heading %>
                <th scope="col">Prompt</th>

                <%# Shared Headings %>
                <%= render "questions/tables/shared_table_headings" %>
            </tr>
        </thead>

        <tbody>
            <% @questions.each do |question| %>
                <tr>
                    <%# Common Bodies %>
                    <%= render partial: "questions/tables/common_table_bodies", object: question %>

                    <%# Keyword %>
                    <td><%= question.keyword %></td>

                    <%# Prompt %>
                    <td><%= question.prompt %></td>

                    <%# Shared Bodies %>
                    <%= render partial: "questions/tables/shared_table_bodies", object: question %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>