<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to questions", questions_path %>

  <%= button_to "Destroy this question", @question, method: :delete %>
</div>


<div class="container">
  <%# Comment Form %>
  <%= render "comments/question_form", question: @question, comment: @question.comments.build, submit_label: "Reply", commentable_type: "question" %>

  <%# Comments %>
  <% @comments.each do |comment| %>
    <%= render "comments/question_comment", question: @question, comment: comment %>
  <% end %>
</div>