<div class="container">
  <%# Question %>
  <%= render @question %>

  <div>
    <%# Edit question button %>
    <%= link_to "Edit this question", edit_question_path(@question) %> |
    <%# Link back to all questions %>
    <%= link_to "Back to questions", questions_path %>

    <%# Delete question button %>
    <%= button_to "Destroy this question", @question, method: :delete %>
  </div>


  <%# Comment Form %>
  <%= render "comments/question_form", question: @question, comment: @question.comments.build, submit_label: "Reply", commentable_type: "question" %>

  <%# Comments %>
  <% @comments.each do |comment| %>
    <%= render "comments/question_comment", question: @question, comment: comment %>
  <% end %>
</div>