<div class="container">
    <%# Links %>
    <%= render "questions/links" %>


    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <%# Question main Heading %>
                <th scope="col">Question</th>

                <%# Answer Heading %>
                <th scope="col">Answer</th>

                <%# Keyword Heading %>
                <th scope="col">Keyword</th>

                <%# Shared Headings %>
                <%= render "questions/tables/shared_table_headings" %>
            </tr>
        </thead>

        <tbody>
            <% @questions.each do |question| %>
                <tr>
                    <%# Question main %>
                    <td><%= question.main %></td>

                    <%# Answer %>
                    <td><%= question.answer %></td>

                    <%# Keyword %>
                    <td><%= question.keyword %></td>

                    <%# Question ID %>
                    <td><%= link_to question.id, question_path(question) %></td>

                    <%# Amount of attempts %>
                    <td><%= question.attempted %></td>

                    <%# Amount of correct answer %>
                    <td><%= question.correct %></td>

                    <%# Amount of comments %>
                    <td><%= pluralize(question.comments.size, "Comment") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
