<%= form_with(model: question) do |form| %>
  <%# Throw any errors %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Question main input %>
  <div>
    <%= form.label :main, style: "display: block" %>
    <%= form.text_field :main %>
  </div>

  <%# Answer input %>
  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_field :answer %>
  </div>

  <%# Multiple Choice Options (Rendered as an array layout) %>
  <div>
    <label style="display: block">Multiple Choice Options (Optional)</label>
    
    <%# Option 1 %>
    <%= text_field_tag "question[options][]", question.options&.[](0), placeholder: "Option 1" %>
    
    <%# Option 2 %>
    <%= text_field_tag "question[options][]", question.options&.[](1), placeholder: "Option 2" %>
    
    <%# Option 3 %>
    <%= text_field_tag "question[options][]", question.options&.[](2), placeholder: "Option 3" %>
    
    <%# Option 4 %>
    <%= text_field_tag "question[options][]", question.options&.[](3), placeholder: "Option 4" %>
  </div>

  <%# Submit button %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
