<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = "active" %>
<% else %>
  <% isActive = "" %>
<% end %>


<li class="list-group-item d-flex align-items-center justify-content-between user_list_item <%= isActive %> ">
  <div class="icon-container">
    <div class="chat_pfp d-flex align-items-center justify-content-center text-white fw-bold shadow-sm" 
      style="background-color: #9b59b6; font-size: 18px; line-height: 1; user-select: none;">
      <%= user.avatar_initial %>
    </div>
    <%= turbo_stream_from "user_status" %>

    <div>
      <%= render "users/status", user: user %>
    </div>
  </div>

  <%= link_to user.username, user_chat_path(user), class: "ms-2 me-auto username", data: {turbo: "false"} %>
</li>
